<div style="padding: 50px;">
  <div fxLayout fxLayoutAlign="center">
    <mat-card>
      <b>Case / Notes</b><br /><br />
      <button mat-raised-button color="primary" routerLink="/addnotes">
        Add Notes</button
      ><br /><br />
      <mat-card-title style="background-color: primary;">
        <div
          style=" font-size: 13px;"
          fxLayout
          fxLayoutAlign="center "
        >
          <table>
            <tr style="background-color: rgb(37, 37, 155);color: white;">
              <th>Row No.</th>
              <th>Delete</th>
              <th>Edit</th>
              <th>Note Text</th>
              <th>Note Type</th>
              <th>Case Note Subject</th>
              <th>Note Operation</th>
              <th>Note Importance</th>
            </tr>
            <tr>
              <td>Row No.</td>
              <td>Delete</td>
              <td>Edit</td>
              <td>Note Text</td>
              <td>Note Type</td>
              <td>Case Note Subject</td>
              <td>Note Operation</td>
              <td>Note Importance</td>
            </tr>
          </table>
        </div>
      </mat-card-title>
      <mat-card-content style="padding-left: 900px;" fxLayoutGap="10px">
        <button mat-raised-button disabled>
          Back
        </button>
        <button mat-raised-button color="primary">
          Next
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
