<div style="padding:50px" >

<div  fxLayout fxLayoutAlign="center" >
 <mat-card >
  <b>Case / Notes</b><br><br>
  <button mat-raised-button color="primary" routerLink="/addnotes">
    Add Notes</button><br><br>
 <mat-card-title style="background-color: primary;">
<div style="color: white;font-size:13px;" fxLayout  fxLayoutAlign="center ">
<section><button  mat-raised-button color="primary">Row No.</button></section>
<section><button  mat-raised-button color="primary">Delete</button></section>
<section><button  mat-raised-button color="primary">Edit</button></section>
<section><button  mat-raised-button color="primary">Note Text</button></section>
<section><button  mat-raised-button color="primary">Note Type</button></section>
<section><button  mat-raised-button color="primary">Case Note Subject</button></section>
<section><button  mat-raised-button color="primary">Note Operation</button></section>
<section><button  mat-raised-button color="primary">Note Importance</button></section>
</div>
</mat-card-title>
<mat-card-content style="padding-left:900px;" fxLayoutGap="10px">
  <button mat-raised-button disabled>
   Back</button>
   <button mat-raised-button color="primary">
    Next</button>
</mat-card-content>
</mat-card>
</div>
</div>
